{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block preview %}
    <ul class="nav nav-pills">
        <li><a><strong>{{ "Zakładki"|trans({}, 'SonataMediaBundle') }}</strong></a></li>
        {% for tag in tags %}
            {% if tag.name == app.request.query.get('tag') %}
                <li class="active"><a href="{{ admin.generateUrl('list', {"tag": tag.name}) }}">{{ tag.name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% else %}
                <li><a href="{{ admin.generateUrl('list', {"tag": tag.name}) }}">{{ tag.name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% endif %}
        {% endfor %}
        <li {{ app.request.query.get('tag') == "Wszystko"? 'class="active"' : "" }}><a href="{{ admin.generateUrl('list', {"tag": "Wszystko"}) }}">{{ "Wszystko" }}</a></li>
    </ul>
{% endblock %}
