<footer>
    <div class="footer-content">
        <p>Copyright &copy; 2015 <a href="http://neuca.pl" target="_blank" title="Grupa kapitałowa NEUCA - przejdź do strony">Grupa kapitałowa NEUCA&nbsp;SA</a></p>
        <p>Created by
            <a href="http://nekk.pl" target="_blank" title="Agencja Reklamowa NEKK - przejdź do strony">NEKK</a></p>
        <hr />
    </div>
</footer>