<header>
    <a href="{{ path('home') }}">Home</a>
    <menu>
        {{ sonata_block_render({ 'type': 'menu.block.menu' }, {
            'template': 'MenuBundle:top.html.twig',
            'cms': cms
        }) }}
    </menu>
</header>