{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if team.teamPicture != null %}
            <img src="{{ team.teamPicture.path }}">
        {% else %}
            <span>Brak zdjęcia</span>
        {% endif %}
    </div>
{% endblock %}