{% macro render_breadcrumb(menuTree) %}
    {% for menuItem in menuTree %}
        {% if menuItem.__selected %}
            {% if menuItem.__currentCms %}
                <li>{{ menuItem.name }}</li>
            {% else %}
                <li>
                    <a href="{{ menuItem.link }}" title="{{ menuItem.name }}">{{ menuItem.name }}</a>
                </li>
                {{ _self.render_breadcrumb(menuItem.__children) }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul class="breadcrumbs">
    <li>
        <a href="{{ path('home') }}" title="Przejdź do strony głównej">Strona główna</a>
    </li>
    {{ _self.render_breadcrumb(menuTree) }}
</ul>