{% extends ':default:layout/base.html.twig' %}

{% block styles %}
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>

    <script src="/js/angularjs/init.js"></script>

    <script src="/js/angularjs/services/Job.js"></script>

    <script src="/js/angularjs/controllers/JobIndexController.js"></script>
    <script src="/js/angularjs/controllers/JobShowController.js"></script>

    <script src="/js/angularjs/filters/html.js"></script>
{% endblock %}

{% block content %}
    <div class="container" ng-app="mondiApp">
        <div ng-view></div>
    </div>
{% endblock %}