<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <pre>{{cleanedSearchParameters}}</pre>
            <div class="list-group-item" ng-repeat="filterSection in filterSections">
                <h4 class="list-group-item-heading">{{ filterSection.title }}</h4>
                <div class="checkbox" ng-if="filterSection.control == 'checkbox'" ng-repeat="option in filterSection.options">
                    <label>
                        <input type="checkbox" ng-model="searchParameters[filterSection.key][option.key]" value="{{ option.key }}"> {{ option.value }}
                    </label>
                </div>
                <div class="radio" ng-if="filterSection.control == 'radio'" ng-repeat="option in filterSection.options">
                    <label>
                        <input type="radio" ng-model="searchParameters[filterSection.key]" value="{{ option.key }}"> {{ option.value }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="list-group">
            <div>Total: {{ jobs.total }}</div>
            <div>Page: {{ page }}</div>
            <div>Available pages: {{ jobs.availablePages }}</div>
            <div ng-if="loading">Loading...</div>
            <a href="#/{{ job.id }}" class="list-group-item" ng-repeat="job in jobs.data">
                <small>{{ job.update_date }}</small>
                <h4 class="list-group-item-heading">{{ job.title }}</h4>
                <hr>
                <p class="list-group-item-text">
                    Regions:
                            <span class="badge" ng-repeat="region in job.regions">
                                {{ region.name }}, {{ region.cities }}
                            </span>
                </p>
                <p class="list-group-item-text">
                    Categories:
                            <span class="badge" ng-repeat="category in job.categories">
                                {{ category.name }}
                            </span>
                </p>
                <p class="list-group-item-text">
                    Zatrudnienie: ???
                </p>
            </a>
            <a ng-if="jobs.page < jobs.availablePages" ng-click="loadMoreJobs()">wczytaj więcej ofert</a>
        </div>
    </div>
</div>