<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <a href="#/">Powrót</a>
        <div class="list-group">
            <small>{{ job.update_date }}</small>
            <h4 class="list-group-item-heading">{{ job.title }}</h4>
            <hr>
            <p class="list-group-item-text">
                <b>Regions:</b>
                <span class="badge" ng-repeat="region in job.regions">
                    {{ region.name }}, {{ region.cities }}
                </span>
            </p>
            <p class="list-group-item-text">
                <b>Categories:</b>
                <span class="badge" ng-repeat="category in job.categories">
                    {{ category.name }}
                </span>
            </p>
            <p class="list-group-item-text">
                <b>Zatrudnienie:</b> ???
            </p>
            <p class="list-group-item-text">
                <b>Vacancies :</b> {{ job.vacancies }}
            </p>
            <p class="list-group-item-text">
                <b>Header:</b> <div ng-bind-html="job.header | html"></div>
            </p>
            <p class="list-group-item-text">
                <b>Requirements :</b> <div ng-bind-html="job.requirements | html"></div>
            </p>
            <p class="list-group-item-text">
                <b>Description :</b> <div ng-bind-html="job.description | html"></div>
            </p>
            <p class="list-group-item-text">
                <b>Offers :</b> <div ng-bind-html="job.offers | html"></div>
            </p>
            <p class="list-group-item-text">
                <b>Info :</b> <div ng-bind-html="job.info | html"></div>
            </p>
            <a href="{{ job.description_url }}" target="_blank">DescriptionUrl</a>
            <br>
            <a href="{{ job.form_url }}" target="_blank">FormUrl</a>
        </div>
    </div>
</div>