{% macro render_menu(menu) %}
    <ul>
        {% for menuItem in menu %}
            {% if menuItem.visible %}
                <li class="{% if menuItem.__selected %}active{% endif %}">
                    <a href="{{ menuItem.link }}" title="{{ menuItem.name }}">{{ menuItem.name }}</a>
                    {% if menuItem.__children|length %}
                        {{ _self.render_menu(menuItem.__children) }}

                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

<nav>{{ _self.render_menu(menuTree) }}</nav>