<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ cms.title }}{% endblock %}</title>
    <meta name="Robots" content="all"/>
    <meta name="Description" content=""/>
    <meta name="keywords" content=""/>
    {{ include(':default:partial/styles.html.twig') }}

    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    {% block styles %}{% endblock %}
</head>
<body>
{{ include(':default:partial/header.html.twig', {'cms' : cms}) }}
<div class="content">
    {% block content %}{% endblock %}
</div>
{{ include(':default:partial/footer.html.twig') }}
{{ include(':default:partial/scripts.html.twig') }}
{% block javascripts %}{% endblock %}
</body>
</html>



